{% extends 'core/base.html' %}

{% block title %}Liste des Événements{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Événements à venir</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Lieu</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.time }}</td>
            <td>{{ event.location }}</td>
            <td>
                <a href="{% url 'event_detail' event.pk %}" class="btn btn-primary btn-sm">Détails</a>
                <a href="{% url 'event_delete' event.pk %}" class="btn btn-danger"
   onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?')">
   Supprimer
</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'event_create' %}" class="btn btn-success">Créer un événement</a>
{% endblock %}
