{% extends 'core/base.html' %}

{% block title %}Ajouter un Membre{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Ajouter un Nouveau Membre</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">Nom</label>
            <input type="text" name="name" class="form-control" id="id_name" required>
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="id_email" required>
        </div>
        <div class="mb-3">
            <label for="id_phone" class="form-label">Numéro de Téléphone</label>
            <input type="text" name="phone" class="form-control" id="id_phone" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        <a href="{% url 'member_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
